form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
}

#save-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.remove-button {
  background-color: #e21a2d;
  color: white;
  border: none;
  margin-left: 20px;
  width: 25px;
  border-radius: 50%;
}

#addresses li {
  display: grid;
  grid-template-columns: 30% 10%;
  margin-bottom: 20px;
}
section {
  margin-top: 5%;
}

#skip {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.register-add {
  background: #e9ecef;
  margin-top: 4%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 72%);
  width: 900px !important;
  font-family: "ui-rounded";
}

section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #de7537;
}

.btnSave {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 52%);
  border: none;
  border-radius: 1.5rem;
  padding: 1%;
  background: #de7537;
  color: #fff;
  font-weight: 600;
  width: 20%;
  cursor: pointer;
}

.btn-add {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40 !important;
  border-radius: 5px !important;
  width: 100px;
}
