#offer-info {
  padding: 20px;
}

#offer-info h2 {
  color: #d05a07;
  text-align: center;
}

#offer-info li {
  list-style: none;
}

#description, #responsibilities {
  margin-bottom: 30px;  
  padding-left: 0px;
  font-family: serif;
}

ul#responsibilities, ul#skills {
  padding-left: 0px;
  font-family: serif;
}
