@import url("https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto+Condensed&family=Ubuntu&display=swap");
/*-------- BODY --------*/
body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
}
/*-------- Navbar --------*/
.nav-1 {
  border-bottom: 2px bold #fff !important;
  box-shadow: 0px 3px 3px 1px rgb(0, 0, 0) !important;
}

.fixed {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 20;
}

.navbar-brand {
  font-family: "Pacifico";
  font-size: 25px !important;
  color: #ff8a10 !important;
}
.navbar-toggler {
  background-color: #fff;
}

.nav1-link {
  font-size: 16px;
  margin: 4px;
  color: #fff !important;
  font-family: cursive;
}

.nav1-link:hover {
  color: #ffc107 !important;
}

.active .nav1-link {
  color: #f2782e !important;
}

.border-start {
  border-left: 1px solid rgb(0, 0, 0);
}

/*-------- Searchbar --------*/
.bar {
  background-color: beige; /**#f3f3f0*/
  margin: 15px 0px 15px 0px;
}

.site-title {
  color: #343a40;
  font-family: "Reghteous";
  font-size: 40px !important;
  font-weight: bold;
  padding-top: 10px;
}

.control-label {
  padding-top: 5px;
  margin: 15px;
  font-family: cursive;
}

.form-control {
  margin-top: 15px;
}

.control-btn {
  margin-top: 15px;
  border-radius: 5px;
}

/*-------- Main --------*/
.btn-type {
  color: #fff;
  background-color: #d05a07;
  border-color: #d05a07 !important;
  border-radius: 5px !important;
  width: 50px;
}

.offre-card {
  margin: 10px 15px 0px 15px;
  box-shadow: 3px 3px 2px 0 rgb(0 0 0 / 10%);
  transition: 0.3s;
  border-radius: 5px !important;
  padding-left: 20px;
}

.offre-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.panel-body {
  max-height: 57pc;
  min-height: 57pc;
  overflow-y: scroll;
}
/*-------- CompanyCard --------*/
.alert-companies,
.alert-offer {
  box-shadow: 3px 3px 2px 0 rgb(0 0 0 / 10%);
  font-family: auto;
  font-weight: bold;
  color: #bd2130;
  background-color: #f5f5dc;
}

.company-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 21rem;
  height: 21rem;
  border-radius: 5px !important;
  margin-right: 18px;
  margin-bottom: 18px;
}

.company-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.company-card .card-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.logo-wrapper {
  position: absolute;
  top: 40%;
  left: 32%;
  position: absolute;
  padding: 0.5rem;
  margin: 0;
  border-radius: 4px;
  width: 120px;
  height: 70px;
  background-color: #f8f9faab;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrapper img {
  width: auto;
  max-height: 65px !important;
}

.company-card .container {
  padding: 16px;
}

.card-name {
  text-align: left;
  font-family: cursive;
  margin-top: 5px;
}

.card-name a {
  color: #000;
  font-size: 20px;
}

.card-name a:link {
  text-decoration: none;
}

.card-name a:hover {
  color: #dc6d29;
}

.card-offre {
  text-align: right;
  color: #129092;
}
/*---- Icon Heart ----*/

.flexbox {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.fav-btn {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@keyframes favme-anime {
  0% {
    opacity: 1;
    font-size: ms(0);
    -webkit-text-stroke-color: transparent;
  }
  25% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(-2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dc3232;
  }
  75% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(3);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dc3232;
  }
  100% {
    opacity: 1;
    font-size: ms(2);
    -webkit-text-stroke-color: transparent;
  }
}

@keyframes favme-hover {
  from {
    font-size: ms(3);
  }
  80% {
    font-size: ms(2);
  }
}

.favme {
  display: block;
  font-size: ms(2);
  width: auto;
  height: auto;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s ease;
  color: #cbcdce;
  margin: 0;
}

.active1 {
  color: #bd2130;
}

:hover {
  animation: favme-hover 0.3s infinite alternate;
}

.is_animating {
  animation: favme-anime 0.3s;
}

.bordered {
  border-radius: 50%;
  border: 1px solid lightgrey;
  cursor: pointer;
}

/*-------- Companybar --------*/
.clearfix .company-logo {
  max-width: 143px;
  max-height: 143px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.clearfix .img-thumbnail {
  width: 143px;
  min-width: 143px;
  -webkit-box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 30%);
  -ms-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 30%);
}

.clearfix .company-name {
  padding-top: 24px;
  font-family: cursive;
  color: #343a40;
}

.clearfix ul li {
  display: inline;
}

.company-info {
  margin-top: 15px;
}

.company-lieu,
.company-email {
  margin-right: 30px;
  color: #d05a07;
}

.clearfix .company-link,
.clearfix .company-date,
.company-link a {
  color: #d05a07;
}

.mr-30 {
  margin-right: 30px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #f8f9fa !important;
  background-color: #343a40 !important;
  border-color: #343a40 #343a40 #f8f9fa !important;
  font-family: cursive;
}

.nav-tabs .nav-link {
  font-family: cursive;
}
/*-------- Cmpanypage_info--------*/
.sidebar {
  min-width: 250px;
  margin-top: -20px;
}

.sidebar_content {
  padding: 5px;
  min-height: 100px;
  background: #fff;
  -ms-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 35%);
  -webkit-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 35%);
  -moz-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 35%);
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 35%);
}

.desc-entrp {
  margin: 22px;
}

.companyprofile-card {
  margin: 22px 15px 0px 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  border-radius: 5px !important;
  padding-left: 20px;
}

.companyprofile-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.offres-info .name-entrp {
  margin-right: 05px;
}

.offres-info .name-entrp,
.offres-info .ville-entrp {
  color: #117a8b;
  font-weight: 400;
  font-family: serif;
  margin-right: 50px;
}

.card-offre {
  padding-left: 15px;
}

.commentaire {
  margin-bottom: 0px;
  font-family: serif;
}

.card-right {
  vertical-align: top;
  padding-right: 21px;
  min-width: 110px;
  padding: 1.25rem;
  padding-top: 0px;
  color: #117a8b;
}

.card-right .date {
  white-space: nowrap;
  margin-top: 19px;
  font-family: serif;
}

.card-right .type {
  font-family: serif;
}

.btn-img {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #343a40 !important;
  color: white;
  font-size: 16px;
  padding: 8px 13px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.btn-img:hover {
  color: white;
  background-color: #007bff !important;
}
/*-- SingUp --*/
label {
  color: #343a40;
}

.error {
  color: red;
}

.register {
  background: #343a40;
  margin-top: 1%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 72%);
}

.register-left {
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register-left .btn {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right {
  background: #e9ecef;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  font-family: "ui-rounded";
}

.register-left .navbar-brand {
  font-size: 40 !important;
  margin-top: 30%;
  margin-bottom: 5%;
  width: 100%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.register-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
  font-family: "ui-rounded";
}

.register .register-form {
  padding: 10%;
  margin-top: 10%;
}

.btnRegister {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 52%);
  float: right;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #de7537;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #de7537;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
  box-shadow: inset 0px 0px 7px 0 rgb(0 0 0 / 61%);
}

.register .nav-tabs .nav-link {
  padding: 4%;
  height: 34px;
  font-weight: 200;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  font-family: auto;
}

.register .nav-tabs .nav-link:hover {
  border: none;
}

.register .nav-tabs .nav-link.active {
  width: 120px;
  padding: 1px;
  color: #fff !important;
  border: 4px solid #343a40;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #de7537;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 61%);
  background-color: #343a40 !important;
  border-color: #343a40 #343a40 #343a40 !important;
  font-family: auto;
}

.custom-file input:focus {
  color: #495057;
  border-color: #80bdff !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%) !important;
  width: 100% !important;
  height: calc(2.25rem + 2px) !important;
}

.btnConnexion {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 52%);
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #de7537;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
