#wrapper {
  margin-top: 2%;
  margin-bottom: 15%;
  display: flex;
  justify-content: center;
}

#post-offer-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  align-items: start;
  margin-top: 25px;
}

label[for="add-skill"],
#skills-container,
#add-skill {
  grid-column: 1/3;
}

label[for="add-skill"],
#responsibilities-container,
#add-responsibility {
  grid-column: 1/3;
}

#post-offer {
  grid-column: 1/3;
}

#skills-container,
#responsibilities-container {
  display: grid;
  row-gap: 15px;
}

.skill-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: end;
}

.responsibility-wrapper {
  /*display: flex;*/
  /*flex-direction: column;*/
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

textarea {
  border: 1px solid black;
}

.error {
  grid-column: 1/3;
  justify-self: center;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
