<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Créer un compte Entreprise (Adresses)</title>
  <div th:replace="fragments/header :: header-css" />
  <link rel="stylesheet" href="../../css/add_company_addresses.css" />
</head>

<body style="background-color: #f8f9fa;">
  <div th:replace="fragments/company_header"></div>
  <nav id="retour">
    <a href="/company/profile">Retour</a>
  </nav>
  <div class="container register-add mt-2">
    <div class="row">
      <section class="col-md-12">
        <h2>Entrez vos adresses</h2>
        <div id="container">
          <hr>
          <form id="form">
            <div>
              <label class="mr-1 font-weight-bold" for="street">Rue (facultatif): </label>
              <input type="text" class="col-md-11 form-control mt-0" id="street">
            </div>
            <div>
              <label class="mr-1 font-weight-bold" for="city">Ville:</label>
              <select id="cities" class="col-md-11 form-control pt-1 pb-1 mt-0 pl-1">
                <option th:each="city:${cities}" th:value="${city.name}" th:text="${city.name}"></option>
              </select>
            </div>
            <div id="add-button" style="margin-left: 5rem;">
              <button type="button" class="btn btn-add btn-sm mt-3 mb-1"><i class="fa fa-plus-circle fa-fw"></i>
                Ajouter</button>
            </div>
          </form>
          <ul id="addresses" class="mt-4"></ul>

          <div id="save-button">
            <button type="button" class="btnSave">Enregister</button>
          </div>
          <div id="skip">
            <a href="/company/offers">Ignorer</a>
          </div>
        </div>
        <ul id="addresses"></ul>
      </section>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer" />
</body>

</html>