<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="POST" action="/signup/candidate" enctype="multipart/form-data" th:object="${candidateForm}">
    <p>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" th:field="*{email}">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
    </p>
    <p>
      <label for="password">password</label>
      <input type="password" name="password" id="password" th:field="*{password}">
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
    </p>
    <p>
      <label for="description">description</label><br/>
      <textarea name="description" id="description" cols="30" rows="3"></textarea>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
    </p>
    <p>
      <label for="firstName">First name</label>
      <input type="text" name="firstName" id="firstName" th:field="*{firstName}" />
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
    </p>
    <p>
      <label for="lastName">Last name</label>
      <input type="text" name="lastName" id="lastName" th:field="*{lastName}" />
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
    </p>
    <p>
      <label for="cv">CV</label>
      <input type="file" name="cv" id="cv" />
    <p th:if="${#fields.hasErrors('cv')}" th:errors="*{cv}">
    </p>
    <p>
      <label for="photo">Photo</label>
      <input type="file" name="photo" id="photo" />
    <p th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}">
    </p>
    <input type="submit" value="Sign up" />
  </form>
  <p th:if="${status} != null" th:text="'status:' +  ${status}">
</body>

</html>