<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="POST" action="/signup/company" enctype="multipart/form-data" 
  th:object="${companyForm}">
    <p>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" th:field="*{email}">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    </p>
    <p>
      <label for="password">password</label>
      <input type="password" name="password" id="password" th:field="*{password}">
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </p>
    <p>
      <label for="name">name</label>
      <input type="text" name="name" id="name" th:field="*{name}">
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{name}"></p>
    </p>
    <p>
      <label for="description">description</label><br />
      <textarea name="description" id="description" cols="30" rows="3"></textarea>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
    </p>
    <p>
      <label>Size</label>
      <input type="number" min="0" name="size" id="size" th:field="*{size}">
    <p th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></p>
    </p>
    <p>
      <label>Foundation date</label>
      <input type="date" name="foundationDate" id="foundationDate" th:field="*{foundationDate}">
    <p th:if="${#fields.hasErrors('foundationDate')}" th:errors="*{foundationDate}"></p>
    </p>
    <p>
      <label>Logo</label>
      <input type="file" name="logo" id="logo">
    <p th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}"></p>
    </p>
    <p>
      <label>Wallpaper</label>
      <input type="file" name="wallpaper" id="wallpaper">
    <p th:if="${#fields.hasErrors('wallpaper')}" th:errors="*{wallpaper}"></p>
    </p>
    <p>
      <input type="submit" value="Sign Up">
    </p>
  </form>
  <p th:if="${status} != null" th:text="${status}"></p>
</body>

</html>