<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div th:replace="fragments/header :: header-css" />
  <link rel="stylesheet" th:href="@{/css/company_offers.css}" />
  <script th:src="@{/js/company_offers.js}"></script>
  <title>Offre d'entreprise</title>
</head>

<body>
  <div th:replace="fragments/company_header"></div>

  <section class="bar">
    <div class="container-fluid">
      <form method="GET" action="/company/offers">
        <div class="site-content text-center">
          <h1 class="site-title">Trouvez le job qui vous correspond</h1>
        </div>
        <div class="form-group row d-flex justify-content-center">
          <label class=" control-label">Spécialité</label>
          <div class="col-sm-3">
            <input type="text" name="speciality" class="form-control" />
            <!-- <select name="" class="form-control">
                    <option class="hidden" selected="" disabled="">Spécialité</option>
                    <option value="1">One</option>
                </select> -->
          </div>

          <label class="control-label">Ville</label>
          <div class="col-sm-3">
            <select name="city" class="form-control">
              <option class="hidden" selected="" disabled="">Ville</option>
              <option th:each="city: ${cities}" th:value="${city}" th:text="${city}"></option>
            </select>
          </div>

          <label class="control-label ">Type</label>
          <div class="col-sm-2">
            <select name="type" class="form-control">
              <option class="hidden" selected="" disabled="">Type</option>
              <option>CDI</option>
              <option>CDD</option>
              <option>STAGE</option>
              <option>PFA</option>
              <option>PFE</option>
            </select>
          </div>

          <div class="form-group ">
            <div class="col-sm-3 control-btn">
              <input type="submit" class="btn btn-success" value="Rechercher">
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- Main -->
  <main>
    <div class="container-fluid">
      <div class="alert alert-companies text-center" th:if="${offers.empty}">
        Aucun Offre trouvé. <a href="/company/post-offer">Créer un offre</a>
      </div>
      <div class="row">
        <div class="col-sm-6 mr-0">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body panel-body" style="padding: 0px;">
                <!--Panel Body-->
                <!--Card1-->

                <div th:each="offer: ${offers}" class="card offre-card offer" th:id="${offer.id}">
                  <div class="row">
                    <div class="card-body" style="padding-bottom: 0px;">
                      <div class="clearfix">
                        <!-- <img class="company-logo img-thumbnail float-left mr-5 mt-0" src="../img/3.jpg" alt=""> -->
                        <img class="company-logo img-thumbnail float-left mr-5 mt-0"
                          th:src="@{'data:image/png;base64,'+${offer.company.generateBase64Logo()}}">

                        <h5 class="card-name ">
                          <a href="" class="pt-4"><b th:text="${offer.position}"></b></a>
                        </h5>
                        <div class="offres-info mb-2">
                          <span class="name-entrp" th:text="${offer.company.name}">Name Entreprise</span>
                          <span class="ville-entrp" th:text="${offer.city}">ville</span>
                        </div>
                        <!-- <p class="commentaire" th:text="${offer.company.description}">
                          commentaire commentaire
                        </p>-->
                      </div>
                    </div>
                    <div class="card-right">
                      <div class="row ml-5 mt-1">
                        <div class="flexbox">
                          <div class="fav-btn">
                            <span href="" class="favme dashicons dashicons-heart"><i class="fa fa-heart fa-fw fa-10x"
                                style="margin-bottom: 15px; font-size: 20px;"></i></span>
                          </div>
                        </div>
                      </div>
                      <span class="date" th:text="${offer.creationDate}"></span><br>
                      <span class="type" th:text="${offer.type}"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 ml-0">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" style="background-color: #fff; padding: 0px;">
                <!--Panel Heading-->
                <section class="bar">
                  <div class="container-fluid">
                    <div class="container">
                      <div class="clearfix">
                        <!-- <img class="company-logo img-thumbnail float-left mr-5" src="../img/3.jpg" alt=""> -->
                        <div class="row borderd float-right" style="margin-top: 18px;">
                          <div class="flexbox">
                            <div class="fav-btn">
                              <span href="" class="favme dashicons dashicons-heart">
                                <i class="fa fa-bookmark fa-fw" style="font-size: 40px;"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <h1 class="company-name" id="position"></h1>
                        <ul class="company-info">
                          <li class="company-link mr-30">
                            <a href="/company-page">
                              <i class="fa fa-globe fa-fw"></i>
                              <span id="company-name"></span>
                            </a>
                          </li>

                          <li class="company-lieu">
                            <i class="fa fa-map-marker fa-fw"></i>
                            <span id="city"></span>
                          </li>

                          <li class="company-date mr-30">
                            <i class="fa fa-calendar fa-fw"></i>
                            <span id="creation-date"></span>
                          </li>

                          <li class="company-type">
                            <button type="button" class="btn btn-type btn-sm" id="type"></button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
                <div id="offer-info">
                  <div id="description"></div>
                  <ul id="responsibilities"></ul>
                  <ul id="skills"></ul>
                </div>
              </div>
              <div class="card-body panel-body" style="max-height: 50pc; min-height: 50pc;">
                <!--Panel body-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div th:replace="fragments/footer :: footer" />
</body>

</html>