<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Entreprises</title>
    <div th:replace="fragments/header :: header-css" />
</head>

<body>
    <th:block th:if="${session.isEmpty()}">
        <div th:replace="fragments/header :: header" />
    </th:block>
    <th:block th:if="!${session.isEmpty()}">
        <div th:replace="fragments/candidate_header" />
    </th:block>
    <!-- Searchbar -->
    <section class="bar">
        <div class="container-fluid">
            <form>
                <div class="site-content text-center">
                    <h1 class="site-title">Découvrez les entreprises qui recrutent</h1>
                </div>
                <div class="form-group row  d-flex justify-content-center">
                    <label class=" control-label">Nom de l'entreprise</label>
                    <form action="" method="get">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="name" placeholder="Entreprise"
                                th:value="${name}">
                        </div>

                        <div class="form-group ">
                            <div class="col-sm-3 control-btn">
                                <input type="submit" class="btn btn-success" value="Rechercher">
                            </div>
                        </div>
                </div>
            </form>
            </form>
        </div>

    </section>

    <!-- CompanyCard -->
    <div class="container">
        <div class="alert alert-companies text-center" th:if="${companies.empty}">
            Aucune entreprise disponible
        </div>
        <div class="row">

            <div class="col-lg-4" th:each="company : ${companies}">
                <div class="card company-card">
                    <img class="card-img" th:src="@{'data:image/png;base64,'+${company.generateBase64Wallpaper()}}">
                    <div class="logo-wrapper">
                        <img th:src="@{'data:image/png;base64,'+${company.generateBase64Logo()}}" />
                    </div>
                    <div class="container">
                        <h5 class="card-name">
                            <a th:href="@{/company-page/{id}(id=${company.id})}"><b th:text="${company.name}"></b></a>
                        </h5>
                        <p class="card-offre"> <span th:text="${nbrOffers.get(company.id)}"> </span> Offres </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</body>

</html>