<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Profile Entreprise</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body class="main-breadcrumb">

<div th:replace="fragments/header :: header" />
   
<form action="#">    
<div class="container mt-5">
  <button class="btn btn-outline-primary">creer un offre</button>
    <div class="main-body mt-3">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="" alt="Company Logo" class="rounded-circle" width="150">
                    <!-- <div class="mt-3">
                      <h4>Company Name</h4>
                      <p class="text-secondary mb-1">Web Application</p>
                      <p class="text-muted font-size-sm">Casa , Hay Alfarah</p>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="material-icons text-info mr-2">Nom</i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" th:value="${company.name}"></input>
                    </div>
                  </div>
                  <hr>
                  <div  class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="material-icons text-info mr-2">Email</i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input type="email" th:value=${company.email}/> 
                    </div>
                  </div>
                  <hr>
                  <!-- <div  class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="material-icons text-info mr-2">Password</i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input type="password" value=""></input> 
                    </div>
                  </div> -->
                  <hr>

                   <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="material-icons text-info mr-2">Size</i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="number" th:value=${company.size}/> 
                    </div>
                  </div>
                  <hr>
                   <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="material-icons text-info mr-2">Foundation Date</i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input type="date" th:value=${company.foundationDate}/>  
                    </div>
                  </div>
                  <hr>

                   <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="material-icons text-info mr-2">Wallet Paper</i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="file" placeholder="Wallet Paper" class="form-control-file" name="wallpaper" id="wallpaper">
                    </div>
                  </div>
                  <hr>
                   <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="material-icons text-info mr-2">Description</i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <textarea class="form-control"  placeholder ="Description *"name="description" id="description" rows="3" th:text=${company.description}></textarea> 
                    </div>
                  </div>
                  
                </div>
              </div>
              <input type="submit" class="btn btn-outline-primary" value="Editer">
                </div>
              </div>
            </div>
          </div>
       <br>
       <br>
</form>
</body>
</html>
