<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Post Offer</title>
  <div th:replace="fragments/header :: header-css" />

  <script th:src="@{/js/post_offer.js}"></script>
</head>

<body>
  <nav>
    <a href="/company/offers">Retour</a>
  </nav>
  <div id="wrapper">
    <form id="post-offer-form">
      <label for="type">Type d'offre</label>
      <select id="type">
        <option value="cdi">CDI</option>
        <option value="cdd">CDD</option>
        <option value="stage">STAGE</option>
        <option value="pfa">PFA</option>
        <option value="pfe">PFE</option>
      </select>

      <label for="speciality">Specialité</label>
      <input type="text" id="speciality" />

      <label for="position">Position *</label>
      <input type="text" id="position" />

      <label for="city">Ville</label>
      <select id="city">
        <option th:each="city: ${cities}" th:value="${city.name}" th:text="${city.name}"></option>
      </select>
      <label for="start-date">Date début *</label>
      <input type="date" id="start-date" />

      <label for="closing-date">Date de fermuture de l'offre</label>
      <input type="date" id="closing-date">

      <label for="description">Description *</label>
      <textarea id="description"></textarea>

      <label for="add-skill">Les Compétence</label>
      <div id="skills-container"></div>
      <input type="button" id="add-skill" value="Ajouter compétence" />

      <label for="add-responsibility">Les Résponsabilitées</label>
      <div id="responsibilities-container"></div>
      <input type="button" id="add-responsibility" value="Ajouter résponsabilitée" />

      <label for="public">Public</label>
      <input type="checkbox" id="public" />

      <label for="receive-recomm">Reçevoir des recommendations</label>
      <input type="checkbox" id="receive-recomm" />

      <input type="button" id="post-offer" value="Poster l'offre" />
    </form>
  </div>
</body>

</html>