<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Post Offer</title>
  <div th:replace="fragments/header :: header-css" />
  <link rel="stylesheet" href="../../css/offre.css" />
  <script th:src="@{/js/post_offer.js}"></script>
</head>

<body style="background-color: #f8f9fa;">
  <div th:replace="fragments/company_header"></div>
  <!--<nav id="retour">
    <a href="/company/offers">Retour</a>
  </nav>-->
  <div id="wrapper" class="container register-add">
    <form id="post-offer-form">

      <label class="mr-1 font-weight-bold" for="type">Type d'offre</label>
      <select id="type" class="col-md-12 form-control pt-1 pb-1 mt-0 pl-1">
        <option value="cdi">CDI</option>
        <option value="cdd">CDD</option>
        <option value="stage">STAGE</option>
        <option value="pfa">PFA</option>
        <option value="pfe">PFE</option>
      </select>

      <label class="mr-1 font-weight-bold" for="speciality">Specialité</label>
      <input type="text" class="col-md-12 form-control mt-0" id="speciality" />

      <label class="mr-1 font-weight-bold" for="position">Position <span class="error">*</span></label>
      <input type="text" class="col-md-12 form-control mt-0" id="position" />

      <label class="mr-1 font-weight-bold" for="city">Ville</label>
      <select id="city" class="col-md-12 form-control pt-1 pb-1 mt-0 pl-1">
        <option th:each="city: ${cities}" th:value="${city.name}" th:text="${city.name}"></option>
      </select>
      <label class="mr-1 font-weight-bold" for="start-date">Date début <span class="error">*</span></label>
      <input type="date" class="col-md-12 form-control mt-0" id="start-date" />

      <label class="mr-1 font-weight-bold" for="closing-date">Date de fermuture de l'offre</label>
      <input type="date" class="col-md-12 form-control mt-0" id="closing-date">

      <label class="mr-1 font-weight-bold" for="description">Description <span class="error">*</span></label>
      <textarea id="description" class="col-md-12 form-control mt-0"></textarea>

      <label class="mr-1 font-weight-bold" for="add-skill">Les Compétence</label>
      <div id="skills-container"></div>
      <input type="button" class="btn" id="add-skill" value="Ajouter compétence" />

      <label class="mr-1 font-weight-bold" for="add-responsibility">Les Résponsabilitées</label>
      <div id="responsibilities-container"></div>
      <input type="button" class="btn" id="add-responsibility" value="Ajouter résponsabilitée" />

      <label class="mr-1 font-weight-bold" for="public">Public</label>
      <input type="checkbox" class="mt-2" id="public" />

      <label class="mr-1 font-weight-bold" for="receive-recomm">Reçevoir des recommendations</label>
      <input type="checkbox" class="mt-1" id="receive-recomm" />

      <input type="button" class="btnSave" id="post-offer" value="Poster l'offre" />
    </form>
  </div>
</body>

</html>