<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    header {
      display: flex;
      justify-content: center;
    }
    section {
      display: flex;
      justify-content: center;
    }
    form {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      row-gap: 20px;
      margin-top: 15%;
    }
    .error {
      grid-column: 2;
      color: red;
      text-align: center;
    }
    input[type="submit"] {
      grid-column: 2;
    }
  </style>
</head>

<body>
  <header>
    <div>
      <a href="/home">home</a>
    </div>
  </header>
  <section>
    <form method="POST" action="/signin">
      <div th:if="${error} != null" th:text="${error}" class="error"></div>
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email">

      <label for="password">Password</label>
      <input type="password" name="password" id="password">
      
      <input type="submit" value="Sign In">
    </form>
  </section>

</body>

</html>