</div>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Connexion</title>
    <div th:replace="fragments/header :: header-css" />
</head>

<body style="background-color: #f8f9fa;">
    <div th:replace="fragments/header :: header" />

    <div class="container register">
        <div class="row">

            <!-- register-left -->
            <div class="col-md-3 register-left">
                <a class="navbar-brand ml-0" href="/">Sta:)<span style="color: #00E8E8;">Jobs</span></a>
                <h3 style="font-family: auto;margin-top: 20px;">Bonjour</h3>
                <p>
                    Notre mission vous simplifier le travail! <br>
                    Tout le monde peut utiliser <span style="font-family: 'Pacifico'; color: #de7537;">Sta:)Jobs.</span>
                </p>
            </div>

            <!-- register-right-->
            <div class="col-md-9 register-right">
                <!--Link Page Sing_up Company Et Candidat-->
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active">
                        <h2 class="register-heading">Connexion</h2>

                        <div class="register-form">
                            <hr>
                            <div class="col-md-11 mx-auto">
                                <form method="POST" action="/signin">

                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email *" name="email"
                                            id="email">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Mot de passe *"
                                            name="password" id="password">
                                    </div>

                                    <div class="custom-control custom-checkbox form-group">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                        <label class="custom-control-label" for="customControlInline">Rester
                                            connecté</label>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <input type="submit" class="btnConnexion" value="Connexion">
                                    </div>

                                    <div class="form-group">
                                        <p class="text-center" style="margin-top: 20px;">Vous n'avez pas de compte?
                                            <a href="/sign_up">Inscrivez-vous ici</a>
                                        </p>
                                    </div>

                                    <th:block th:if="${error} != null">
                                        <p class="text-center alert alert-danger" th:text="${error}"></p>
                                    </th:block>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />
</body>

</html>