<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:fragment="footer">
        <div class="container">

            <!-- this is footer -->
            <footer>
                <!-- Bootstrap JS -->
                <script src="../../js/jquery-1.11.1.min.js"></script>
                <script src="../../js/frontend.js"></script>
                <script src="../../js/bootstrap.min.js"></script>
                <script src="../../js/jquery-ui.min.js"></script>
                <script src="../../js/iconify.min.js"></script>
            </footer>

        </div>
    </div>
</body>

</html>