<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- this is header-css -->
    <div th:fragment="header-css">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../../css/bootstrap.min.css" />
        <link rel="stylesheet" href="../../css/frontend.css" />
        <link rel="stylesheet" href="../../css/bootstrap.css" />
        <link rel="stylesheet" href="../../css/font-awesome.css" />
        <link rel="stylesheet" href="../../css/font-awesome.min.css" />
        <link rel="stylesheet" href="../../css/jquery-ui.css" />
        <link rel="stylesheet" href="../../css/post_offer.css" />

    </div>
</head>

<body>
    <div th:fragment="header">
        <!-- this is header -->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark nav-1 mt-0">
            <a class="navbar-brand ml-3" href="/">Sta:)<span style="color: #00E8E8;">Jobs</span></a>

            <button class="navbar-toggler nav-link" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav my-md-0 mr-auto ml-auto">
                    <li class="nav-item ml-4 active ">
                        <a class="nav-link nav1-link" href="/">Offres d'Emploi</a>
                    </li>
                    <li class="nav-item ml-4 ">
                        <a class="nav-link nav1-link" href="/companies">Entreprises</a>
                    </li>
                </ul>

                <div class=" border-start">
                    <ul class="navbar-nav my-md-0 mr-md-2 ">
                        <li class="nav-item">
                            <a class="nav-link nav1-link" href="/signin">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav1-link" href="/candidate/signup">Inscription</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

</body>

</html>